.newproject_container {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    padding: 3em;
    margin-top: 50px;
}

.newproject_container h1 {
    margin-bottom: 0.5em;
    font-size: 2em;
}

.newproject_container p {
    color: #fff;
}