.btn {
    width: 230px;
    margin: auto;
    margin-top: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 7px;
    background-color: #222;
    color: #FFF;
    white-space: nowrap;


    text-decoration: none;
    transition: 0.5s;
}


.btn:hover {
    color: #ffbb33;
}