.navbar {
    position: fixed;
    /* Alterado para position */
    top: 0;
    /* Garante que ficará no topo da página */
    left: 0;
    /* Alinha à esquerda */
    width: 100%;
    /* Ocupa toda a largura */
    display: flex;
    /* Ou outro valor apropriado para o layout */
    justify-content: space-between;
    background-color: #000;
    padding: 5px;
    z-index: 50;
}

.logo {
    padding-left: 10px;
    width: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 576px) {
    .logo {
        width: 60px;
        margin-top: auto;
        margin-bottom: auto;
    }
}



/* Botão do menu hambúrguer */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger div {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: 0.3s;
}

.blurOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Um fundo escuro semi-transparente */
    backdrop-filter: blur(5px);
    z-index: 50; /* O blur fica atrás do menu, mas na frente de outros elementos */
    animation: blurFade 0.5s ease-in-out ;

}

@keyframes blurFade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
    
}

/* Menu deslizante */
.menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 60%;
    height: 100%;
    padding: 20px;
    border-left: solid 2px #FFBB33;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 99;    

}

/* Quando o menu estiver ativo */
.menu.active {
    top: 0;
}

/* Lista do menu deslizante */
.menu .listMenu {
    display: flex;
    flex-direction: column;    
    align-items: end;
    justify-content: center;
    padding: 20px;
}

.itemMenu {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    
    margin: 0.7em 0;
    font-size: 1.5em;
    width: fit-content;
}

.itemMenuTip {
    font-size: 0.9em;
    color: white;
    width: 70%;
    text-align: end;
    margin-top: 20px;
}

.itemMenuTip a {
    color: #FFBB33;
    text-decoration: none;
}

.itemMenuTip a:hover {
    color: #ba8824;
}

.itemMenu a {
    display: flex; /* Aplica flexbox no link */
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    justify-content: center; /* Alinha o ícone e o texto horizontalmente */
    text-decoration: none;
    color: inherit; /* Garante que a cor do texto não seja sobrescrita */
}

.itemMenu span {
    margin-right: 15px; /* Ajuste o espaço entre o ícone e o texto, se necessário */
}


.menu .itemMenu a {
    color: #FFF;
    text-decoration: none;
}

.menu .itemMenu a:hover {
    color:#FFBB33;
    transition: 0.7s;
}

.itemMenuBtn {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    align-items: center;
    border: none;
    transition: 0.3s;
}

.itemMenuBtn:hover {
    background: #FFBB33;
}

.itemMenuBtn span {
    font-size: 0.8em; /* Ajuste apenas para o texto */
    margin-left: 8px; /* Espaço entre o ícone e o texto */
}

.itemBtn {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    align-items: center;
    border: none;
    transition: 0.3s;
}

.itemBtn:hover {
    background: #FFBB33;
}

.itemBtn span {
    font-size: 0.7em; /* Ajuste apenas para o texto */
    margin-left: 8px; /* Espaço entre o ícone e o texto */
}

/* Esconde o menu para telas maiores */
@media (min-width: 576px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: none;
    }
}



.list {
    display: none;
}

@media (min-width: 576px) {
    .list {
        display: flex;
        list-style: none;
        align-items: center;
    }
}

@media (min-width: 576px) {
    .item {
        margin-right: 1em;
        font-size: small;
    }
}

@media (min-width: 650px) {
    .item {
        font-size: medium;
    }
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}